<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @shift_type.title %>
</p>
<p>
  <b>Description:</b>
  <%= @shift_type.description %>
</p>

<p>
  <b>Location:</b>
  <%= @shift_type.location %>
</p>


<%= link_to 'Edit', edit_shift_type_path(@shift_type) %> |
<%= link_to 'Back', shift_types_path %>
